<?php

$conn = new PDO("mysql:host=localhost;dbname=dbphp7", "root","");

$conn->beginTransaction();

$stmt = $conn->prepare("DELETE FROM tb_usuarios WHERE iduser = ?");

$id = 15;

$stmt->execute(array($id));

$conn->rollback();

echo "Apagado com Sucesso!";

?>
